.logo-container{
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    margin: 12% auto 0%;
}

/*Style the search section and search bar*/

.search-container{
    position: relative;
    text-align: center;
    margin-top: 3%;
}

.search-bar{

    border-radius: 25px;
    border-width: 1px;
    border-color: gray;
    height: 30px;
    display: inline-block;
    width: 45%;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;

}


.search-icon{
    display: inline-block;
    position: relative;
    color: gray;
    left: 35px;    
}   


.microphone{
    display: inline-block;
    position: relative;
    right: 35px;
    top: 5px;
}

/*Styles for the buttons*/

.button-container{
    text-align: center;
    margin-top: 20px;
}

.buttons{
    height: 35px;
    width: 140px;
    color: #3c4043;
    background-color:#f8f9fa;
    border-width: 0px;
    border-radius: 5px;
}

.button-lucky{
    margin-left: 6px;
}

/*Style navbar*/

.About{
    text-decoration: none;
    color: black;
    position: relative;
    left: 1%;
}

.Store{
    text-decoration: none;
    color: black;
    position: relative;
    left: 2%
}

.Gmail{
    text-decoration: none;
    color: black;
    position: relative;
    left: 77%;
}

.Images{
    text-decoration: none;
    color: black;
    position: relative;
    left: 78%;
}

.app-button{
    display: inline-block;
    color: grey; 
    text-decoration: none;
    text-align: right;
    position: relative;
    left: 79%;
    top: 5px;
}

.user-icon{
    border-radius: 100%;
    left: 80%;
    top: 10px;
    position: relative;
}


/*Style footer*/